# Unity folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.booproj

# OS
.DS_Store
Thumbs.db

# Crash & memory
MemoryCaptures/
Recordings/
